*.o
*.a
*.lo
*.la
*.so
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

ylwrap
lexer.c
parser.h
parser.c

bluez.pc
include/bluetooth
src/bluetoothd
audio/telephony.c

sbc/sbcdec
sbc/sbcenc
sbc/sbcinfo
sbc/sbctester

tools/avctrl
tools/avinfo
tools/bccmd
tools/ciptool
tools/dfubabel
tools/dfutool
tools/hciattach
tools/hciconfig
tools/hcisecfilter
tools/hcitool
tools/hid2hci
tools/l2ping
tools/ppporc
tools/sdptool
cups/bluetooth
test/agent
test/attest
test/bdaddr
test/hciemu
test/hstest
test/l2test
test/lmptest
test/rctest
test/scotest
test/sdptest
rfcomm/rfcomm
compat/dund
compat/hidd
compat/pand
common/test_textfile

doc/*.bak
doc/*.stamp
doc/bluez.*
doc/bluez-*.txt
doc/*.sgml
doc/version.xml
doc/xml
doc/html
