*.o
*.a
*.lo
*.la
*.so
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

bluez.pc
lib/bluetooth
src/builtin.h
src/bluetoothd
scripts/97-bluetooth-hid2hci.rules

profiles/sap/sap.c
profiles/cups/bluetooth

attrib/gatttool
tools/avinfo
tools/bccmd
tools/ciptool
tools/hciattach
tools/hciconfig
tools/hcieventmask
tools/hcisecfilter
tools/hcitool
tools/hid2hci
tools/rfcomm
tools/l2ping
tools/sdptool
test/agent
test/bdaddr
test/hciemu
test/attest
test/hstest
test/avtest
test/l2test
test/rctest
test/scotest
test/gaptest
test/sdptest
test/lmptest
test/ipctest
test/btiotest
test/test-textfile
test/uuidtest
test/mpris-player
test/sap_client.pyc
test/bluezutils.pyc
unit/test-eir
tools/btattach
tools/btmgmt
tools/btsnoop
monitor/btmon
emulator/btvirt
emulator/b1ee

doc/*.bak
doc/*.stamp
doc/bluez.*
doc/bluez-*.txt
doc/*.sgml
doc/version.xml
doc/xml
doc/html
src/bluetoothd.8
src/bluetooth.service

obexd/src/builtin.h
obexd/src/obexd
obexd/client/obex-client
tools/obex-client-tool
tools/obex-server-tool
unit/test-gobex
unit/test-gobex-apparam
unit/test-gobex-header
unit/test-gobex-packet
unit/test-gobex-transfer
