Luiz Augusto von Dentz <luiz.dentz-von@nokia.com>	<luiz.dentz-von@nokia.com>
Vinicius Costa Gomes <vinicius.gomes@openbossa.org>	<vinicius.gomes@openbossa.org>
Elvis Pfützenreuter <epx@signove.com>			<epx@signove.com>
Santiago Carot-Nemesio <scarot@libresoft.es>		<scarot@libresoft.es>
José Antonio Santos Cadenas <santoscadenas@gmail.com>	<santoscadenas@gmail.com>
