pkgbase = bluez-hid-gamepad-quirks
	pkgdesc = BlueZ with HID gamepad quirk support for controllers with broken SDP records
	pkgver = 5.87
	pkgrel = 2
	url = https://github.com/EvolveBeyond/bluez
	install = bluez-hid-gamepad-quirks.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL-2.0
	makedepends = git
	makedepends = python
	makedepends = pkg-config
	makedepends = intltool
	makedepends = readline
	depends = glib2
	depends = dbus
	depends = libudev.so
	depends = ell
	depends = json-c
	depends = alsa-lib
	provides = bluez
	conflicts = bluez
	options = !emptydirs
	options = !strip
	backup = etc/bluetooth/main.conf
	backup = etc/bluetooth/input.conf
	backup = etc/bluetooth/network.conf
	source = bluez-hid-gamepad-quirks::git+https://github.com/EvolveBeyond/bluez.git#branch=gamepad-quirks
	source = bluetooth.conf
	source = tmpfiles.conf
	source = rules-10-bluez-hid-gamepad-quirks.rules
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = bluez-hid-gamepad-quirks
