# Serial PCMCIA Cards
SUBSYSTEM=="tty", BUS=="pcmcia", ENV{MANF_ID}="$sysfs{manf_id}", ENV{CARD_ID}="$sysfs{card_id}"


# Brain Boxes BL-620 Bluetooth Adapter
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="Brain Boxes", SYSFS{prod_id2}=="Bluetooth PC Card", RUN+="bluetooth_serial"

# Xircom CreditCard Bluetooth Adapter
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="Xircom", SYSFS{prod_id3}=="CBT", RUN+="bluetooth_serial"

# Xircom RealPort2 Bluetooth Adapter
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="Xircom", SYSFS{prod_id3}=="CBT", RUN+="bluetooth_serial"

# IBM Bluetooth PC Card II
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="IBM", SYSFS{prod_id2}=="Bluetooth PC Card II", RUN+="bluetooth_serial"

# TDK Bluetooth PC Card
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="TDK", SYSFS{prod_id2}=="Bluetooth PC Card II", RUN+="bluetooth_serial"

# AmbiCom BT2000C Bluetooth PC/CF Card
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="AmbiCom BT2000C", SYSFS{prod_id2}=="Bluetooth PC/CF Card", RUN+="bluetooth_serial"

# COM One Platinium Bluetooth PC Card
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="COM1 SA", SYSFS{prod_id2}=="MC310 CARD", RUN+="bluetooth_serial"

# Sphinx PICO Card
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="SPHINX", SYSFS{prod_id2}=="BT-CARD", RUN+="bluetooth_serial"

# H-Soft blue+Card
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="H-Soft", SYSFS{prod_id2}=="Blue+CARD", RUN+="bluetooth_serial"

# Compaq iPAQ Bluetooth Sleeve
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="CF CARD", SYSFS{prod_id2}=="GENERIC", RUN+="bluetooth_serial"

# Zoom Bluetooth Card and Sitecom CN-504 Card
SUBSYSTEM=="tty", BUS=="pcmcia", SYSFS{prod_id1}=="PCMCIA", SYSFS{prod_id2}=="Bluetooth Card", RUN+="bluetooth_serial"
